.AccessAnalysis {
  padding: 20px;
  background-color: var(--n-color);
  .subtitle {
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-bottom: 15px;
  }
  .itemWrapper {
    display: flex;
    height: 134px;
    padding: 16px;
    align-items: center;
    color: rgb(51, 54, 57);
    transition: box-shadow 0.2s cubic-bezier(0, 0, 1, 1);
    &.bg1 {
      background: linear-gradient(
        rgb(242, 249, 254) 0%,
        rgb(230, 244, 254) 100%
      );
    }
    &.bg2 {
      background: linear-gradient(
        rgb(245, 254, 242) 0%,
        rgb(230, 254, 238) 100%
      );
    }
    &.bg3 {
      background: linear-gradient(
        rgb(240, 241, 225) 0%,
        rgb(238, 244, 214) 100%
      );
    }
    &.bg4 {
      background: linear-gradient(
        rgb(247, 247, 255) 0%,
        rgb(236, 236, 255) 100%
      );
    }
    .left {
      .title {
        font-size: 16px;
        font-weight: 700;
        white-space: nowrap;
        margin-bottom: 24px;
      }
      .value {
        font-size: 26px;
        white-space: nowrap;
        font-weight: 600;
      }
      .compare {
        display: flex;
        align-items: center;
        .desc {
          padding-right: 8px;
          font-size: 12px;
        }
        .compareValue {
          font-size: 14px;
          color: #d03050;
          display: flex;
          align-items: center;
          &.down {
            color: #18a058;
          }
        }
      }
    }
    .right {
      flex: 1;
      height: 90px;
      vertical-align: bottom;
      .chart {
        width: 100%;
        height: 90px;
      }
    }
  }
}
